@font-face {
	src: url(fonts/Baskerville Neo Display Medium Italic.otf);	
	font-family: bask-med-it;
}
@font-face {
	src: url(fonts/Baskerville Neo Display Medium.otf);	
	font-family: bask-med;
}


body{
	font-family: Baskerville Neo Display, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 1.35;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 20px;

}

header{
	padding: 2%;
	overflow: hidden;
}


a{
	color: #be9d66;
}



.one-col div{
	width:  90%;
	margin: auto;
}






.container{
	width:  65%;
	margin:  auto;
}

.image{
	width:  100%;
}

.image-portrait{
	width:  46%;
}

.container a{
	color:  black;
}



@media (max-width: 600px){
	.two-col div{
		float: none;
		width: auto;
	}
	.container{
		width:  95%;
	}
	.image-portrait{
		width:  100%;
	}
}

@media (max-device-width: 600px){
	.two-col div{
		float: none;
		width: auto;
	}
	.container{
		width:  95%;
	}
	.image-portrait{
		width:  100%;
	}

	body{
		font-family:  Garamond, Helvetica, sans-serif;
		font-size:  25px;
		line-height: 1.25;
	}

	
	h2{
		font-family:  Garamond, Helvetica, sans-serif;
		font-size:  40px;
		line-height:  1.25;
	}

	h1{
		font-family:  Garamond, Helvetica, sans-serif;
		font-size:  60px;
		line-height:  1.25;
	}

	
}









